<div class="row">
    <form class="col mx-auto my-2 example-form" [formGroup]="form">
        <mat-form-field  color="accent" class="example-full-width">
          <input class = "text-white"
                type="text"
                 placeholder="Buscar"
                 aria-label="Number"
                 matInput
                 [(ngModel)] ="search"
                 [formControl]="myControl"
                 [matAutocomplete]="auto"
                 formControlName="search">
                 <button matSuffix mat-button class = "text-white suffix-button" *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
                  <mat-icon>close</mat-icon>
                </button>
    
                <button class = "text-white suffix-button"  matSuffix mat-icon-button color="primary" >
                 <mat-icon>search</mat-icon>
                </button>
    
    
    
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let problem of filteredProblems" (click)="sendToProblem(problem)">
                <span  style="overflow-x: hidden;">{{ problem.title | stringShorter}}</span>
                <small style="float: right;">{{ problem.author}}</small>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
    
        </mat-form-field>
      </form>
</div>
<div style="height: 100%;">
<div class="row mx-1">
<div class="col-10 w-75 mx-auto my-2 p-3 " style="background: transparent;  overflow-y: auto;">
<div *ngIf="isLoadingFilter" class="row justify-content-center is-isLoadingFiler">
    <mat-spinner diameter="100"></mat-spinner>
</div>
<div *ngIf="!isLoadingFilter">
  <table class="table table-dark table-hover" style="background-color: rgba(75, 75, 75, 0.404);" >
        <thead>
            <tr>
            <th>ID</th>
            <th>Problema</th>
            <th>Etiquetas</th>
            <th>Soluciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let problem of problemsShowing" routerLink="/problem/{{problem.id}}">
                <td>{{problem.id}}</td>
                <td >{{problem.title}}</td>
                <td>
                    <mat-chip-list aria-label="Fish selection">
                    <div *ngFor="let tag of problem.tags; let i = index">
                      <div *ngIf="tag.level==1">
                        <mat-chip color="primary" selected>{{tag.name}}</mat-chip>
                      </div>
                      <div *ngIf="tag.level==2">
                        <mat-chip>{{tag.name}}</mat-chip>
                      </div>
                    </div>
                  </mat-chip-list>
                </td>               
                <td>0</td>
            </tr>
        </tbody>
        </table>        
</div> 
</div> 

<mat-accordion class="col mx-auto mt-1 example-form">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Filtrar </mat-panel-title>
    </mat-expansion-panel-header>

    <form class="row mx-auto" [formGroup]="filterForm">
      <mat-form-field class="example-full-width w-100">
        <input #matInput type="text" placeholder="Tag" matInput [formControl]="filterControl"
        [matAutocomplete]="xd" [(value)]="tagSearch">
      <mat-autocomplete #xd="matAutocomplete">
        <div *ngFor="let tag of filteredTagsOptions">
          <mat-option *ngIf="!selectedTags.includes(tag)" [value]="tag.name" (click)="this.addFilterTag(tag); ">
            {{tag.name}}
          </mat-option>
        </div>
      </mat-autocomplete>
    </mat-form-field>
    </form>
    <mat-chip-list #chipList>
      <div *ngFor="let tag of selectedTags">
        <mat-chip [ngStyle]="{'background-color': tag.level==1? 'var(--tag1)' : 'var(--tag2)'}"
          [removable]="removable" (removed)="removeFilterTag(tag)">
          {{tag.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </div>
    </mat-chip-list>
  </mat-expansion-panel>
</mat-accordion>


</div>
  <div class="row">
  <div class="container col">
      <ngb-pagination class="d-flex justify-content-center color-primary" [(page)]="pageNo" [pageSize]="pageSize"
        [collectionSize]="collectionSize" size="lg" (pageChange)="onPageChange()"></ngb-pagination>
    </div>
</div>
</div>