<div class="pr-5" style="color: white;">
    <h2 class="subtitle">Crear Articulo</h2>
    <form class="my-2" [formGroup]="formCreate" (ngSubmit)="onCreateArticle()">
        <mat-form-field class="full-width-input" color = "accent">
          <input matInput type = "text" placeholder="Titulo" formControlName="title" required>
        </mat-form-field>
        <mat-form-field class="full-width-input" color = "accent">
            <input matInput type = "text" placeholder="Autor" formControlName="author" required>
        </mat-form-field>
        <mat-form-field class="full-width-input" color = "accent">
            <textarea matInput placeholder="Markdown" rows="10" formControlName="source" required [(ngModel)]="sourceCreate"></textarea>
        </mat-form-field>

        <p>Vista previa</p>
        <div class="w-100" style="height: 200px; overflow-y: auto; word-wrap: break-word;">
            <markdown emoji  class="variable-binding" [data]="sourceCreate" katex ></markdown>
        </div>

        <mat-form-field class="full-width-input" color = "accent">
            <input matInput placeholder="Fecha de Creación" [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="w-100 row justify-content-center">
            <button mat-raised-button color="primary" type="submit" [disabled]="!formCreate.valid">Crear Articulo</button>
        </div>
    </form>
    <mat-divider></mat-divider>

</div>
