<mat-card *ngIf="problem" class="row m-3">
    <mat-card-subtitle class="d-flex justify-content-between">
        <div>
            Límite de tiempo:
            {{problem.timeLimit}} milisegundos
        </div>
        <div class=" d-flex justify-content-end">
            Límite de memoria:
            {{problem.memoryLimit}} megabytes
        </div>
    </mat-card-subtitle>
</mat-card>

<mat-card *ngIf="problem" class="row m-3">
    <mat-card-subtitle class="d-flex justify-content-between">
        <div>
            Límite de tiempo:
            {{problem.timeLimit}} milisegundos
        </div>
        <div class=" d-flex justify-content-end">
            Límite de memoria:
            {{problem.memoryLimit}} megabytes
        </div>
    </mat-card-subtitle>
</mat-card>