.pointer:hover{
    cursor: pointer;
    text-decoration: underline;
  }

::ng-deep.mat-dialog-container {
    background-color: #343a40 !important;
}

.table-dark th, .table-dark td, .table-dark thead th {
    border-color: var(--dark2);
}