<div class="container">
    <div class="col-8">
        <mat-card class="p-4" style=" height: 95vh; margin: 1%; display: flex; flex-direction: column;">
            <mat-card-title> {{problem.title}}</mat-card-title>
            <mat-card-subtitle>
                Por <a>{{problem.author}}</a>
            </mat-card-subtitle>
            <hr>

            <mat-card-content class="px-3" style=" max-height: initial; overflow:auto;">
                <markdown class="variable-binding" [data]="problem.markdown" katex></markdown>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col">
        <mat-card class=" p-4" style=" height: 55vh; margin: 1%; display: flex; flex-direction: column;">
            askdjdsakd
            <br>
            sadlkds
        </mat-card>
    </div>
</div>