<div class="row mr-1 h-100" style="overflow-y: scroll;">

    <div class="col-9">
        <mat-card *ngIf="problem" class="p-4 mx-5 mt-3" style="display: flex; flex-direction: column;">
            <mat-card-title class="px-2 mb-4"> {{problem.title}}</mat-card-title>
            <mat-card-content class="px-3" style=" max-height: initial; overflow:auto;">
                <markdown class="variable-binding" [data]="problem.markdown" katex></markdown>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col">
        <div class="row">
            <mat-card *ngIf="problem" class=" p-4 px-5 mr-5 w-100 mt-3">
                <mat-card-title class="mb-2"> Información </mat-card-title>
                <mat-card-subtitle>
                    <span style="overflow-x: hidden;">{{ problem.title }}</span>
                    <span style="float: right;">{{ problem.author}}</span>
                </mat-card-subtitle>
                <mat-card-content>
                    <div class="row pr-2 my-2 w-100">
                        <div class="col-sm">
                            Límite de tiempo:
                        </div>
                        <div class="col-sm">
                            {{problem.timeLimit}} milisegundos
                        </div>
                    </div>

                    <div class="row pr-2 my-2 w-100">
                        <div class="col-sm">
                            Límite de memoria:
                        </div>
                        <div class="col-sm">
                            {{problem.memoryLimit}} megabytes
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="row">
            <mat-card class=" p-4 px-5 mr-5 w-100 mt-3">
                <mat-card-title class="mb-4"> ¿Enviar? </mat-card-title>
                <mat-card-content>
                    <div class="row pl-3 my-2 w-100">
                            <mat-form-field class="w-100">
                                <mat-label>Lenguaje</mat-label>
                                <mat-select>
                                    <mat-option value="Python">Python 3</mat-option>
                                    <mat-option value="Java">Java 1.8</mat-option>
                                    <mat-option value="C++">C++ 11</mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>
                    <div class="row  my-2 w-100 align-items-center row-cols-1">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="col">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" formControlName="file" (change)="handleFileInput($event.target.files)" accept=".cpp, .java, .py, .c">
                                    <label class="custom-file-label" style="overflow: hidden;" for="customFile">{{text}}</label>
                                </div>
                            </div>
                            <div class="row mx-auto w-100" >
                                <button type="submit" mat-raised-button class= "h-50 mt-3 w-100"color="accent" >
                                    Enviar solución <i class="fas fa-paper-plane"></i></button>
                            </div>
                        </form>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>