
<div class="row m-3" style="min-height: 70vh;">
    <div class="col-1  " style="max-height: 70vh; overflow-y: auto;">
        <div *ngFor="let problem of contest.problems; let i = index" class="my-2">
            <button mat-fab style="background-color: var(--accent); color: white;" (click)="index=i">
                {{problem.letter}}
            </button>
        </div>
    </div>
    <div class="col-11">
        <app-problem-embedded [index]="index" [contest]="contest"></app-problem-embedded>
    </div>
</div>