.example-card {
    font-family: "Poppins";
  }
  
  .example-card:hover {
    color: white; /* Green */
    background-color: var(--accent2);
    cursor: pointer;
  }

  .tag:hover {
    cursor: pointer;
  }

  .tag {
    font-family: "Roboto";
    cursor: pointer;
  } 






  .example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }