<div class="bg-dark" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <div class="area"></div><nav class="main-menu split left" id="navbarNav">
        <ul class="navbar-nav ">
            <li class ="nav-item" [ngClass]="{active: state === '/'}">
                <a class = "nav-link" routerLink="/" (click) = "span()">
                    <i class="fa fa-home"></i>
                    <span class="nav-text">
                        Inicio
                    </span>
                </a>
              
            </li>
            <li class="nav-item" [ngClass]="{active: state === '/courses'}">
                <a class = "nav-link" routerLink="/courses">
                <i class="fas fa-graduation-cap"></i>
                  <span class="nav-text">
                          Ambiente Educativo
                      </span>
                  </a>
              </li>
            <li class="nav-item" [ngClass]="{active: state === '/articles'}">
                <a class = "nav-link" routerLink="/articles">
                    <i class="fa fa-file-text"></i>
                  <span class="nav-text">
                          Lista de articulos
                      </span>
                  </a>
              </li>
            <li class ="nav-item" [ngClass]="{active: state === '/problems'}">
              <a class = "nav-link" routerLink="/problems">
                <i class="fa fa-exclamation"></i>
                <span class="nav-text">
                        Lista de problemas
                    </span>
                </a>
            </li>
            <mat-divider></mat-divider>
            <span class ="my-2" style="margin-left: 60px; color: white" *ngIf="courses.length > 0">Cursos</span>
            <mat-divider></mat-divider>
            <li class="nav-item" *ngFor="let course of courses">
                <a class = "nav-link" routerLink="/">
                    <i class="fa fa-{{course.logoUrl}}"></i>
                    <!--<mat-icon class="icon">{{course.logoUrl}}</mat-icon> -->
                    <span class="nav-text" title="{{course.name}}">
                        {{course.name | stringShorter: 23}}
                    </span>
                    </a>
            </li>
    
        </ul>
    
        <ul class="logout">
          <li [ngClass]="{active: state === '/profile'}">
            <a routerLink="/profile" >
                <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                    {{name}}
                </span>
            </a>
        </li>
            <li>
                <a routerLink="/login" (click) = "logout()">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text" >
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
    </div>
    
