<div class="container col m-0 p-0 bg-dark" style="height: 100%;">
  <div class="row m-0 p-0" style="background: rgba(244, 248, 7, 0.966); height: 33vh;">
    <button mat-button type="button" class="btn-block" style="border-radius: 0%;">
      <mat-icon>school</mat-icon>Ambiente Educativo
    </button>
  </div>
  <div class="row m-0 p-0" style="background: rgb(1, 26, 255); height: 33vh;">
    <button mat-button type="button" class="btn-block" style="border-radius: 0%;">
      <i class="fas fa-book fa-5x"></i> Entrenamiento Guiado
    </button>
  </div>
  <div class="row m-0 p-0" style="height: 34vh;">
    <div class="col m-0 p-0" style="background: rgb(108, 17, 212); ">
      <button mat-button type="button" class="btn-block" style="border-radius: 0%; height: 100%;">
        <i class="fa fa-file-text fa-5x" aria-hidden="true"></i> Lista de Articulos
      </button>
    </div>
    <div class="col m-0 p-0" style="background: rgb(238, 109, 4); ">
      <button mat-button type="button" class="btn-block" style="border-radius: 0%;height: 100%;">
        <i class="fa fa-exclamation fa-5x" aria-hidden="true"></i> Lista de Problemas
      </button>
    </div>
    <div class="col m-0 p-0" style="background: rgb(3, 248, 117); ">
      <button mat-button type="button" class="btn-block" style="border-radius: 0%;height: 100%;">
        <i class="fas fa-trophy fa-5x" aria-hidden="true"></i> Competenecias
      </button>
    </div>
  </div>
</div>