

.magic_button {
    transition-duration: 0.4s;
  }
  
.magic_button:hover {
    background-color: #ffffff09; /* Green */
    color: #00b686;
    ;
  }

.mat-button{
  color : rgb(223, 223, 223);
}
.body {
    display: table;
    background-color: rgb(47, 27, 223);
}

  