
<div class="container col m-0 p-0 bg-dark" style="height: 100%;">
    <div class="row m-2 p-0" style="background: rgba(244, 248, 7, 0.966); height: 33.333334%;">
      <button mat-button type="button" class="btn-block" style="border-radius: 0%;">Full-Width Button</button>
    </div>
    <div class="row m-2 p-0" style="background: rgb(1, 26, 255); height: 33.333333%;">
      <button mat-button type="button" class="" style="border-radius: 0%;">Full-Width Button</button>
    </div>
    <div class="row m-2 p-0" style="height: 33.333333%;">
      <div class="col m-2 p-0" style="background: rgb(108, 17, 212); ">1</div>
      <div class="col m-2 p-0" style="background: rgb(238, 109, 4); ">2</div>
      <div class="col m-2 p-0" style="background: rgb(3, 248, 117); ">3</div>


    </div>
  </div>
