<div class="container-flex col m-0 p-0 bg-dark h-100">

  <div class="row is-table-row m-0 p-0 bg-success" style="height: 33%;">
    <button mat-button type="button" class="magic_button btn-block" style="border-radius: 0%;">
      <i class="fas fa-graduation-cap fa-5x m-4"></i>
      <h1 >Ambiente Educativo</h1>
    </button>
  </div>


  <div class="row m-0 p-0" style="height: 33%; background:rgb(238, 109, 4);">
    <button mat-button type="button" class="magic_button btn-block" style="border-radius: 0%;">
      <i class="fas fa-book fa-5x m-4"></i> <h1 >Entrenamiento Guiado</h1>
    </button>
  </div>


  <div class="row m-0 p-0" style="height: 34%;">
    <div class="col m-0 p-0 bg-success" style=" ">
      <button mat-button type="button" class="magic_button btn-block" style="border-radius: 0%;height: 100%;">
        <i class="fa fa-file-text fa-5x m-4" aria-hidden="true"></i> 
        <h1 >Lista de Articulos</h1>
      </button>
    </div>

    <div class="col m-0 p-0" routerLink="/markdown" style="background: rgb(238, 109, 4); ">
      <button mat-button type="button" class="magic_button btn-block" style="border-radius: 0%;height: 100%;">
        <i class="fa fa-exclamation fa-5x m-4" aria-hidden="true"></i>
        <h1 >Lista de Problemas</h1>
      </button>
    </div>

    <div class="col m-0 p-0 bg-success" style=" ">
      <button mat-button type="button" class="magic_button btn-block" style="border-radius: 0%;height: 100%;">
        <i class="fas fa-trophy fa-5x m-4" aria-hidden="true"></i>
        <h1 >Competencias</h1>
      </button>
    </div>
  </div>
</div>