

.magic_button {
    transition-duration: 0.4s;
  }
  
.magic_button:hover {
    background-color: var(--primary); /* Green */
    color: var(--accent);
    ;
  }

.mat-button{
  color : rgb(223, 223, 223);
}
.body {
    display: table;
    background-color: rgb(47, 27, 223);
}

.mat-button:hover .logout{
  color: var(--warn) !important;
}

  