<div class="row justify-content-start">
    <mat-card class="mx-3 my-3 hoverAccent" style="width: 250px; height: 250px;" [routerLink]="['articles']">
      <mat-card-content class="container h-100">
        <div class="row align-items-center h-100"> 
            <h2 class="display-2 text-center col" title="Artículos">Artículos</h2>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mx-3 my-3 hoverAccent" style="width: 250px; height: 250px;" [routerLink]="['problems']">
        <mat-card-content class="container h-100">
          <div class="row align-items-center h-100"> 
              <h2 class="display-2 text-center col" title="Problemas">Problemas</h2>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="mx-3 my-3 hoverAccent" style="width: 250px; height: 250px;" [routerLink]="['courses']">
        <mat-card-content class="container h-100">
          <div class="row align-items-center h-100"> 
              <h2 class="display-2 text-center col" title="Cursos">Cursos</h2>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="mx-3 my-3 hoverAccent" style="width: 250px; height: 250px;" [routerLink]="['contest']">
        <mat-card-content class="container h-100">
          <div class="row align-items-center h-100"> 
              <h2 class="display-2 text-center col" title="Competencias">Competencias</h2>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="mx-3 my-3 hoverAccent" style="width: 250px; height: 250px;">
        <mat-card-content class="container h-100">
          <div class="row align-items-center h-100"> 
              <h2 class="display-2 text-center col" title="Profesores">Profesores</h2>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="mx-3 my-3 hoverAccent" style="width: 250px; height: 250px;">
        <mat-card-content class="container h-100">
          <div class="row align-items-center h-100"> 
              <h2 class="display-2 text-center col" title="Profesores">Tags</h2>
          </div>
        </mat-card-content>
      </mat-card>
</div>

