<div>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top justify-content-between" style="background: rgba(75, 75, 75, 0.404); padding-left: 70px;">
      <a class="navbar-brand mb-0 h1" href="#">Usuario</a>
    </nav>
</div>
<div class ="container-fluid m-0 p-0 bg-dark h-100">
    <div class = "m-auto centered" style="text-align: center; width: 50%;">
        <i class="fas fa-user fa-10x" style="color: rgb(255, 255, 255);"></i>
        <h3 class="text-white mt-3 mb-0">Specialist</h3>
        <h2 class="text-white mt-1 p-0">Oi Josuke</h2>

        <div class="col text-white">
            <div class="row">
                <div class="col-md-3 p-0 text-left h6 my-0"> Nombre </div>
                <div class="col-md-9 p-0 text-left"> Okuyasu Nijimura </div>
            </div>
            <div class="row">
                <div class="col-md-3 p-0 text-left h6 my-0"> Código </div>
                <div class="col-md-9 p-0 text-left"> 1910210202 </div>
            </div>
            <div class="row">
                <div class="col-md-3 p-0 text-left h6 my-0"> Correo </div>
                <div class="col-md-9 p-0 text-left"> oijosuke@poligran.edu.co </div>
            </div>
            <div class="row">
                <div class="col-md-3 p-0 text-left h6 my-0"> Rating </div>
                <div class="col-md-9 p-0 text-left"> 1532 </div>
            </div>
        </div>
        <button mat-raised-button class="bg-success" routerLink="/sends">Envios</button>
    </div>
</div>