<div>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top justify-content-between" style="background: rgba(75, 75, 75, 0.404); padding-left: 70px;">
      <a class="navbar-brand mb-0 h1" href="#">Envios</a>
    </nav>
</div>

<div class="m-0 p-0 bg-dark h-100">

    <div class="container bg-light" style="margin-top: 100px;">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Telephone</mat-label>
              <span matPrefix>+1 &nbsp;</span>
              <input type="tel" matInput placeholder="555-555-1234">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </form>
    </div>

</div>