.subtitle{
    color: white;
    margin-top: 25px;
    font-size: medium;
}
  .signin-content {
    padding: 60px 1rem;
  }
  .full-width-input {
    width: 100%;
  }



.tc-card{
  background-color: var(--dark2);
}

.test-case-input{
  height: 150px;
  max-height: 150px;
  min-height: 150px;
}