.title{
  color: white;
  font-size: x-large;
}

.card {
  word-wrap: break-word;
}

.card:hover {
  background-color: var(--accent2);
  cursor: pointer;
}


   /* PAGINACIÓN */
   ngb-pagination ::ng-deep a {
    color: white !important;
    background-color: var(--dark2);
    border-color: transparent;
  }
  
  ngb-pagination ::ng-deep .page-item.active .page-link {
    background-color: var(--accent);
    border-color: transparent;
  }
  
  ngb-pagination ::ng-deep .page-item.disabled  {
    background-color: var(--dark2);
  }
  
  ngb-pagination ::ng-deep .page-item .page-link  {
    background-color: var(--dark2);
  }
  ngb-pagination ::ng-deep .page-item.disabled .page-link  {
    border-color: transparent;
    background-color: var(--dark2);
  }
  
  ngb-pagination ::ng-deep .page-item :hover {
    background-color: var(--accent);
  }
  
  
  ngb-pagination ::ng-deep .page-item.active .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
    background-color: var(--dark2);
  }
  
  ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
    background-color: var(--dark2);
  }
  ngb-pagination ::ng-deep .page-link:disabled {
    box-shadow: 0 0 0 0.1rem dimgrey;
    background-color: var(--dark2);
  }