<h2 class="title my-3">Temas de Discusión</h2>
<button mat-raised-button style="background-color: var(--accent2); " (click)="openDialog(postToSubmit)">Nuevo Tema</button>

<div *ngIf="loaded" class="postlist container my-4">
  <mat-card class="card my-2 pb-4 w-100" *ngFor="let post of postsShowing" [routerLink]="[post.id]">
    <mat-card-header class="row justify-content-between">
      <div class="col-9">
        <mat-card-title class="row">
          <span>{{ post.title}}</span>
        </mat-card-title>
      </div>
      <div class="col">
        <mat-card-subtitle class="row ml-5">
          <i class="fa fa-calendar mr-2"></i>
          {{ post.creationDate.toLocaleString() | date : 'dd/MM/yyyy'}}
        </mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content class="row mx-3 ">
      {{post.content}}
    </mat-card-content>

    <mat-card-subtitle class="mx-3 d-flex justify-content-between">
      <div>
        {{ post.author }}
      </div>
      <div class="mr-5">
        <i class="fas fa-smile"></i>
        {{post.repliesCount}} Commentarios
      </div>
    </mat-card-subtitle>
  </mat-card>
</div>

<div class="container">
  <ngb-pagination class="paginator d-flex justify-content-center color-primary" [(page)]="pageNo" [pageSize]="pageSize"
    [collectionSize]="collectionSize" size="lg" (pageChange)="onPageChange()"></ngb-pagination>
</div>