/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-empty.mat-form-field-label {
    color: white;
}
.mat-form-field-underline {
    background-color: white;
}

:root{
    --primary: #ffffff09;
    --accent: #00b686;
    --dark2: #424242;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.178);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00503b;
  }

