td {
    text-align: center;
    vertical-align: middle;
  }
  
  .table-dark th, .table-dark td, .table-dark thead th {
    border-color: var(--dark2);
}
  .problem-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 12px; 
  }